.contenedor-full-meseros{
    display: flex;
    justify-content: center;
}
.mesero-container{
    
    margin-top: 50px;
    margin-bottom: 50px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;

}
.lista-datos{
 list-style: none;

 text-align: left;
}
.contenedor-botones{
    gap:15px
}